{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle étape' %}

{% block body %}

<section class="draw-default">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center mb-5">
                <span class='text-bc'>{{ project.name }}</span>
                <br/>
                <br/>
                <span class="h2">Ajout de l'étape</span>
                <br/>
                <span class='text-bc'>#{{ nb_step }}</span>
            </h1>

            {{ include('step/_form.html.twig')}}
        </div>
    </div>
</section>

{% endblock %}
