{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier #' ~ step.name  %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center">Modifier #{{ step.name }}</h1>

        {{ include('step/_form.html.twig', {'submitButtonText': 'Enregisrer'})}}
    </div>
</div>

{% endblock %}
