@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "shared/_variables";
@import "~bootstrap";

body {
    font-family: $primary-font, sans-serif;
    background-color: transparent;
}

div.masthead {
    padding-bottom: 15%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/undraw_scrum_board_re_wk7v.svg), ;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 60%;
}

section.draw-registration {
    padding-bottom: 10%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/undraw_subscriptions_re_k7jj.svg), ;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 60%;
}

section.draw-login {
    padding-bottom: 10%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/undraw_authentication_re_svpt.svg), ;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 35%;
}

section.draw-request {
    padding-bottom: 10%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/undraw_forgot_password_re_hxwm.svg), ;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 40%;
}

section.draw-reset {
    padding-bottom: 25%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(../img/undraw_update_re_swkp.svg), ;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 50%;
}

section.draw-default {
    padding-bottom: 25%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(../img/mi_sub_logo_fond_blanc.png), ;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 50%;
}

div.draw-default {
    padding-bottom: 25%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(../img/mi_sub_logo_fond_blanc.png), ;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 50%;
}

hr.divider {
    height: 0.2rem;
    max-width: 30rem;
    margin: 1.5rem auto;
    background-color: $bleu_clair;
    opacity: 1;
}

td.main-header {
    font-size: 20px;
    letter-spacing: 2px; 
    line-height: 35px;
}

td.main-content {
    font-size: 12px;
}

p.main-footer {
    font-size: 18px;
}

.text-bf {
    color: $bleu-fonce;
}

.text-bc {
    color: $bleu-clair;
}

.text-beige {
    color: $beige;
}

.alert {
    text-align: center;
}

.nav-custom {
    background-color: $bleu-fonce;
    font-size: 120%;
}

.btn-custom {
    background-color: $bleu-fonce;
}

.logo {
    max-width : 15%;
    max-height : 15%;
}

.project img {
    transition: transform 0.3s ease-out;

    &:hover {
        transform: scale(1.075);
    }
}




 